nav.main-menu{
  float: right;
  font-size: 15px;
  height: 57px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    // background: #1bc2a2;
    li {
      position: relative;
      float: left;
      &.active{
        a{
          color: $blue;
        }
      }
      // background: #1bc2a2;
      a {
        display: block;
        padding: 18px 15px;
        text-decoration: none;
        white-space: nowrap;
        color: #999;
        &:hover {
          // background: #2c3e50;
          color: $blue;
        }
      }
    }
  }

  li ul {
    display: none;
    position: absolute;
  }

  li:hover > a{
    color: $blue;
  }

  li:hover > ul {
    display: block;
    right: 0;
  }

  li:hover li {
    float: none;
    background: rgba(#000, .7);
  }

  li:hover a {
    // background: #1bc2a2;
  }

  li:hover li a:hover {
    // background: #2c3e50;
  }

  ul ul ul {
    right: 100% !important;
    // left: auto;
    top: 0;
  }

  ul:before,
  ul:after {
    content: " ";
    display: table;
  }

  ul:after { clear: both; }
}
