div(block="index-slider")
  .container(elem="container")
    .row(elem="row")
      .sertificate-slider
        -for(var i = 0; i < 10; i++)
          div: a(href="img/img_sertificate4.jpg").popup-image-link: img(src="img/img_sertificate4.jpg", alt="sectificate image")
          div: a(href="img/img_sertificate3.jpg").popup-image-link: img(src="img/img_sertificate3.jpg", alt="sectificate image")
          div: a(href="img/img_sertificate2.jpg").popup-image-link: img(src="img/img_sertificate2.jpg", alt="sectificate image")
          div: a(href="img/img_sertificate1.jpg").popup-image-link: img(src="img/img_sertificate1.jpg", alt="sectificate image")
