div(block="index-slider")
  .container(elem="container")
    h3(elem="section-title") Заголовок раздела
    .row(elem="row")
      .sertificate-slider
        -for(var i = 0; i < 10; i++)
          div: a(href="http://plastpolimer.beta.indev-group.eu/media/sliderblockslide/c2e28952-6235-4aa1-8fa7-f59dd916326c.jpg").popup-image-link: img(src="http://plastpolimer.beta.indev-group.eu/media/sliderblockslide/c2e28952-6235-4aa1-8fa7-f59dd916326c.jpg", alt="slider image").img-responsive
          div: a(href="http://plastpolimer.beta.indev-group.eu/media/sliderblockslide/c2e28952-6235-4aa1-8fa7-f59dd916326c.jpg").popup-image-link: img(src="http://plastpolimer.beta.indev-group.eu/media/sliderblockslide/c2e28952-6235-4aa1-8fa7-f59dd916326c.jpg", alt="slider image").img-responsive
          div: a(href="http://plastpolimer.beta.indev-group.eu/media/sliderblockslide/c2e28952-6235-4aa1-8fa7-f59dd916326c.jpg").popup-image-link: img(src="http://plastpolimer.beta.indev-group.eu/media/sliderblockslide/c2e28952-6235-4aa1-8fa7-f59dd916326c.jpg", alt="slider image").img-responsive
          div: a(href="http://plastpolimer.beta.indev-group.eu/media/sliderblockslide/c2e28952-6235-4aa1-8fa7-f59dd916326c.jpg").popup-image-link: img(src="http://plastpolimer.beta.indev-group.eu/media/sliderblockslide/c2e28952-6235-4aa1-8fa7-f59dd916326c.jpg", alt="slider image").img-responsive
