.text-white(block="focus-block")
  .container(elem="container")
    p(elem="text") О качестве разработок свидетельствуют полученные девять Госудаственных премий и восемь премий Совета Министров СССР, более 1000 авторских свидетельств.
    button(type="button").btn-focus-block Подробнее
