extends _layout

block content
  +section-page-header('Заголовок раздела')

  +breadcrumb

  .container
    .wrapper
      +aside

      article(block="main-article")
        h3 Заголовок
        p В отделе проводятся научно-исследовательские работы по созданию перфторированных ионообменных материалов нового поколения для мембранных установок получения неорганических и органических продуктов, водоподготовки, генерации электроэнергии, осушки воздуха и технологических газов, каталитического синтеза. Основой перфторированных ионообменных материалов служат сополимеры тетрафторэтилена и сульфосодержащего перфторвинилового эфира следующей формулы:

        img(src="img/img_content1.png", alt="").img-responsive

        p где Х= 4-15, М= Н+, Na+, Li+, K+ <br>Такие материалы сочетают в себе лучшие свойства плавких фторопластов и ионообменных полимеров:

        ul
          li высокую химическую (растворы серной и азотной кислоты с концентрацией до 50%, перекиси и другие сильные окислители, растворы гидроокисей) и термическую стойкость (до100-120оС),
          li высокую механическую прочность без применения армирующих и связующих материалов,
          li прекрасные электрохимические характеристики (электропроводность и селективность).

        ol
          li высокую химическую (растворы серной и азотной кислоты с концентрацией до 50%, перекиси и другие сильные окислители, растворы гидроокисей) и термическую стойкость (до100-120оС),
          li высокую механическую прочность без применения армирующих и связующих материалов,
          li прекрасные электрохимические характеристики (электропроводность и селективность).

        h4 Подзаголовок

        img(src="img/img_content2.png", alt="").img-responsive

        p В отделе проводятся научно-исследовательские работы по созданию перфторированных ионообменных материалов нового поколения для мембранных установок получения неорганических и органических продуктов, водоподготовки, генерации электроэнергии, осушки воздуха и технологических газов, каталитического синтеза. Основой перфторированных ионообменных материалов служат сополимеры тетрафторэтилена и сульфосодержащего перфторвинилового эфира следующей формулы:

        hr

        h1 Заголовок H1
        h2 Заголовок H2
        h3 Заголовок H3
        h4 Заголовок H4
        h5 Заголовок H5
        h6 Заголовок H6

        hr

        blockquote
          p В отделе проводятся научно-исследовательские работы по созданию перфторированных ионообменных материалов нового поколения для мембранных установок получения неорганических и органических продуктов, водоподготовки, генерации электроэнергии, осушки воздуха и технологических газов, каталитического синтеза. Основой перфторированных ионообменных материалов служат сополимеры тетрафторэтилена и сульфосодержащего перфторвинилового эфира следующей формулы:
          footer В отделе проводятся научно-исследовательские работы по созданию перфторированных ионообменных материалов нового поколения для мембранных установок получения неорганических и органических продуктов, водоподготовки, генерации электроэнергии, осушки воздуха и технологических газов, каталитического синтеза. Основой перфторированных ионообменных материалов служат сополимеры тетрафторэтилена и сульфосодержащего перфторвинилового эфира следующей формулы:

        hr

        h1 Заголовок H1 <small>Текст</small>
        h2 Заголовок H2 <small>Текст</small>
        h3 Заголовок H3 <small>Текст</small>
        h4 Заголовок H4 <small>Текст</small>
        h5 Заголовок H5 <small>Текст</small>
        h6 Заголовок H6 <small>Текст</small>
