extends _layout

block content

  // о компании
  include ../components/headerJimbotron/_headerJimbotron

  // о компании
  include ../components/aboutCompany/_aboutCompany

  // наша продукция
  include ../components/ourProduct/_ourProduct

  // наши услуги
  include ../components/ourService/_ourService

  //наши достижения
  include ../components/ourAchievements/_ourAchievements
  include ../components/indexImageGallery/_indexImageGallery

  // focusBlock
  include ../components/focusBlock/_focusBlock

  // последние новости
  include ../components/lastNews/_lastNews

  // наши партнеры
  include ../components/ourPartners/_ourPartners
