extends _layout

block content

  +section-page-header('Структура')

  +breadcrumb

  .container
    .wrapper
      +aside

      article(block="main-article")
        h3 Отдел ПТФЭ и перфторированных ионообменных мембран

        p В отделе проводятся научно-исследовательские работы по созданию перфторированных ионообменных материалов нового поколения для мембранных установок получения неорганических и органических продуктов, водоподготовки, генерации электроэнергии, осушки воздуха и технологических газов, каталитического синтеза. Основой перфторированных ионообменных материалов служат сополимеры тетрафторэтилена и сульфосодержащего перфторвинилового эфира следующей формулы:

        img(src="img/img_molekula.png", alt="product img").img-responsive

        p где Х= 4-15, М= Н+, Na+, Li+, K+ <br>Такие материалы сочетают в себе лучшие свойства плавких фторопластов и ионообменных полимеров:

        ul
          li высокую химическую (растворы серной и азотной кислоты с концентрацией до 50%, перекиси и другие сильные окислители, растворы гидроокисей) и термическую стойкость (до100-120оС),
          li высокую механическую прочность без применения армирующих и связующих материалов,
          li прекрасные электрохимические характеристики (электропроводность и селективность).

        h4 Применение материалов на основе перфторированных мембранных сополимеров:

        table.table.table-bordered
          thead
            tr
              td Название
              td Область применения

          tbody
            tr
              td Мембраны МФ-4СК-1
              td Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи оксмокс всемогущая рекламных океана предупреждал текст, маленький путь осталось, собрал большой пустился. Даль сих послушавшись ведущими переписывается рекламных безорфографичный?
            tr
              td Мембраны МФ-4СК-1
              td Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи оксмокс всемогущая рекламных океана предупреждал текст, маленький путь осталось, собрал большой пустился. Даль сих послушавшись ведущими переписывается рекламных безорфографичный?
            tr
              td Мембраны МФ-4СК-1
              td Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи оксмокс всемогущая рекламных океана предупреждал текст, маленький путь осталось, собрал большой пустился. Даль сих послушавшись ведущими переписывается рекламных безорфографичный?
            tr
              td Мембраны МФ-4СК-1
              td Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи оксмокс всемогущая рекламных океана предупреждал текст, маленький путь осталось, собрал большой пустился. Даль сих послушавшись ведущими переписывается рекламных безорфографичный?


