.container(block="about-company")
  .row(elem="row")
    .col-md-6(elem="col")
      h3(elem="section-title") 
        a(href="http://plastpolimer.beta.indev-group.eu/structure/about-us/") О компании
      p(elem="text") ОАО “Пластполимер” – один из крупнейших отраслевых научно-производственных и проектных объединений в области исследования и разработки технологии производства широкого ассортимента пластмасс: фторопластов, полистирольных и поливинилацетатных пластиков, создания и проектирования пилотных и промышленных установок для их производства.
    .col-md-6(elem="col")
      img(src="img/img_about_company.png", alt="about company img" elem="img").img-responsive
