div(block="header-jimbotron")
    div(elem="slider")
      div(elem="slide" style="background-image: url(img/img_jimbotron_slider.jpg)")
        .transform-middle(elem="inner")
          .container(elem="container")
            h1.text-uppercase(elem="title") полиолефиновые композиции, фторполимеры, полистирольные и поливинилацетатные пластики
            h3(elem="subtitle") Важный подзаголовок, несущий свой смысл и уникальную значимость
            a(href="#" elem="button" data-toggle="modal" data-target="#call-back-modal").btn-jimbotron Заказать обратный звонок

        //- img(src="img/img_jimbotron_slider.jpg", alt="jimbotron slider")
      //- div(elem="slide" style="background-image: url(img/img_jimbotron_slider.jpg)")
        .transform-middle(elem="inner")
          .container(elem="container")
            h1.text-uppercase(elem="title") полиолефиновые композиции, фторполимеры, полистирольные и поливинилацетатные пластикик
            h3(elem="subtitle") Важный подзаголовок, несущий свой смысл и уникальную значимость
            a(href="#" elem="button" data-toggle="modal" data-target="#call-back-modal").btn-jimbotron Заказать обратный звонок

        //- img(src="img/img_jimbotron_slider.jpg", alt="jimbotron slider")
      //- div(elem="slide" style="background-image: url(img/img_jimbotron_slider.jpg)")
        .transform-middle(elem="inner")
          .container(elem="container")
            h1.text-uppercase(elem="title") Информативный заголовок
            h3(elem="subtitle") Важный подзаголовок, несущий свой смысл и уникальную значимость
            a(href="#" elem="button" data-toggle="modal" data-target="#call-back-modal").btn-jimbotron Заказать обратный звонок

        //- img(src="img/img_jimbotron_slider.jpg", alt="jimbotron slider")

    div(block="jimbotron-footer")
      .container(elem="container")
        .transform-middle(elem="left")
            span.db(elem="text") Опыт столетия в технология будущего
        .transform-middle(elem="right")
            a(href="#").btn-jimbotron-footer История
