@font-face {
  font-family: "MyriadProRegular";
  src: url("../font/MyriadProRegular.eot");
  src: url("../font/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
         url("../font/MyriadProRegular.woff") format("woff"),
         url("../font/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBold";
  src: url("../font/MyriadProBold.eot");
  src: url("../font/MyriadProBold.eot?#iefix")format("embedded-opentype"),
         url("../font/MyriadProBold.woff") format("woff"),
         url("../font/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProItalic";
  src: url("../font/MyriadProItalic.eot");
  src: url("../font/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
         url("../font/MyriadProItalic.woff") format("woff"),
         url("../font/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../font/MyriadProSemiBold.eot");
  src: url("../font/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
         url("../font/MyriadProSemiBold.woff") format("woff"),
         url("../font/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../font/MyriadProBoldItalic.eot");
  src: url("../font/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
         url("../font/MyriadProBoldItalic.woff") format("woff"),
         url("../font/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../font/MyriadProSemiBoldItalic.eot");
  src: url("../font/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
         url("../font/MyriadProSemiBoldItalic.woff") format("woff"),
         url("../font/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('../font/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
         url('../font/ArialRoundedMTBold.woff') format('woff'),
         url('../font/ArialRoundedMTBold.ttf')  format('truetype'),
         url('../font/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
