$regular: "MyriadProRegular", sans-serif;
$bold: "MyriadProBold", sans-serif;
$italic: "MyriadProItalic", sans-serif;
$semiBold: "MyriadProSemiBold", sans-serif;
$boldItalic: "MyriadProBoldItalic", sans-serif;
$semiBoldItalic: "MyriadProSemiBoldItalic", sans-serif;
$arialBold: 'ArialRoundedMTBold', sans-serif;

$georgia : 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;

//color
$blue: #009ed6;

//footer
$footer-height: 440px;
$footer-copyright-height: 75px;
$footer-inner-height: $footer-height - $footer-copyright-height;
$footer-margin-top: 110px;

//header
$header-height: 130px;
$header-main-menu: 57px;
